.input_container {
  position: relative;
  margin: 50px auto;
  max-width: 80vw;
}

.input_container input {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--purple-200);

  background-color: transparent;
  outline: none;
  padding: 5px;
}

.input_container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--disabled);
  transition: all 0.3s ease;
  pointer-events: none;
}

.input_container input:focus ~ .label,
.input_container input:not(:placeholder-shown) ~ .label {
  top: -20px;
  font-size: 16px;
  color: var(--purple-200);
}

.error_message {
  color: var(--red-200);
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.input_container input.hasError {
  border-bottom: 2px solid var(--red-200);
}

.input_container input.hasError ~ .label {
  color: var(--red-200);
}

.input_container input:disabled {
  border-color: var(--disabled);
  border-radius: 10px;
  background-color: var(--disabled);
  color: var(--purple-200);
  cursor: not-allowed;
  padding: 5px;
}
