rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {


    //resource.data (gets you the data that exists in the db before being committed)
    //request.resource.data (get's you the incoming request body)

    function isEventCreator(){
      return request.auth.uid == resource.data.createdBy;
    }

    //https://firebase.google.com/docs/reference/rules/rules.String
    function isEmptyOrWhitespaces(property) {
      return !(property is string) || 
             property.size() == 0 || 
             property.matches('^\\s*$');
    }

    match /users/{userId} {
      allow create: if 
        request.auth.uid == userId &&
        !isEmptyOrWhitespaces(request.resource.data.firstName) &&
        !isEmptyOrWhitespaces(request.resource.data.lastName);
      allow read: if request.auth.uid == userId;
    }

    match /events/{eventId}{
      allow read: if request.auth.uid != null;
      allow create: if request.auth.uid == request.resource.data.createdBy;
      allow update, delete: if isEventCreator();
    }
  }
}