.btn {
  all: unset;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  color: var(--purple-400);
  border-color: var(--purple-400);
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
}

.btn:hover {
  box-shadow: var(--box-shadow);
}

.solid {
  background-color: var(--purple-100);
}

.solid:hover {
  background-color: var(--purple-200);
}

.outline {
  background-color: transparent;
}

.outline:hover {
  background-color: var(--purple-100);
}

.disabled {
  border-color: var(--black);
  background-color: var(--gray-100);
  color: var(--black);
  cursor: not-allowed;
}

.align_left,
.align_right,
.align_center {
  display: block;
}

.align_left {
  margin-left: 0;
  margin-right: auto;
}

.align_center {
  margin-left: auto;
  margin-right: auto;
}

.align_right {
  margin-left: auto;
  margin-right: 0;
}
