.btn {
  all: unset;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  color: var(--purple-400);
  border-color: var(--purple-400);
  text-decoration: none;
  font-size: 16px;
}

.btn:hover {
  box-shadow: var(--box-shadow);
}

.solid {
  background-color: var(--purple-100);
}

.solid:hover {
  background-color: var(--purple-200);
}

.outline {
  background-color: transparent;
}

.outline:hover {
  background-color: var(--purple-100);
}

/* 
  look into html attributes 
  create a disabled class
*/

.btn:disabled {
  border-color: var(--black);
  background-color: var(--gray-100);
  color: var(--black);
  cursor: not-allowed;
}
