.section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-100);
  margin: 40px auto;
}

.form_container {
  max-width: 80vw;
  border: 2px solid var(--purple-200);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 30px;
  background-color: var(--white);
}

.form_container .login {
  margin-top: 50px;
  padding: 10px 0px;
  border-top: 2px solid var(--purple-200);
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.form_container .login p {
  font-weight: 600;
}

.center_btn {
  display: block;
  margin: 0px auto;
}
