.login {
  margin-top: 50px;
  padding: 10px 0px;
  border-top: 2px solid var(--purple-200);
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.login p {
  font-weight: 600;
}

.psw_not_match {
  visibility: hidden;
  color: var(--red-100);
  text-align: center;
  font-size: 14px;
  margin-top: 0px;
}

.show {
  visibility: visible;
}
